a {
    text-decoration: none;
}

nav {
    font-family: monospace;
}

ul {
    background: darkorange;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    color: #fff;
    background: darkorange;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

li a {
    color: #fff;
}

li:hover {
    background: red;
    cursor: pointer;
}

ul li ul {
    background: orange;
    visibility: hidden;
    opacity: 0;
    width: auto;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

ul li:hover>ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}

input[type=text],input[type=password]
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

label {
    text-align: justify;
    color: white;
}

input[type=submit] {
    background-color: #8AB9E3;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: wavy;
}

input[type=submit]:hover {
    background-color: #4a4fed;
}


#container {
    border-radius: 5px;
    background-color: #24252a;
    padding: 20px;
    margin: 50px 150px 25px 150px;
    color: white;
}
#container,p{
    text-align: center;
}
#container img {

    max-width: 100%;
    max-height: 100%;
}
table{
    border-collapse: collapse;
    border: 1px solid white;
}
td{
    border: 1px solid white;
    width: 100px;
}
footer {
    margin-top: auto;
    position: sticky;
    left: 0;
    z-index: -1;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
}