<header>
    <nav role="navigation">
        <ul>
            <li><a href="/php7_assignments/index.php">Home</a></li>
            <li><a href="#">Hoofdstuk 3</a>
                <ul class="dropdown">
                    <li><a href="/php7_assignments/hoofdstuk_3/opdr1.php">Opdracht 1</a></li>
                </ul>
            </li>
            <li><a href="#">Hoofstuk 4</a>
                <ul class="dropdown">
                    <li><a href="/php7_assignments/hoofdstuk_4/opdr1.php">Opdracht 1</a></li>
                    <li><a href="/php7_assignments/hoofdstuk_4/opdr2.php">Opdracht 2</a></li>
                    <li><a href="/php7_assignments/hoofdstuk_4/opdr3.php">Opdracht 3</a></li>
                    <li><a href="/php7_assignments/hoofdstuk_4/opdr4.php">Opdracht 4</a></li>
                    <li><a href="/php7_assignments/hoofdstuk_4/opdr5.php">Opdracht 5</a></li>
                    <li><a href="/php7_assignments/hoofdstuk_4/opdr6.php">Opdracht 6</a></li>
                    <li><a href="/php7_assignments/hoofdstuk_4/opdr7.php">Opdracht 7</a></li>
                    <li><a href="/php7_assignments/hoofdstuk_4/opdr8.php">Opdracht 8</a></li>
                    <li><a href="/php7_assignments/hoofdstuk_4/opdr9.php">Opdracht 9</a></li>
                </ul>
            </li>
            <li>
                <a href="#">hoofdstuk 5</a>
                <ul class="dropdown">
                    <li><a href="/php7_assignments/hoofdstuk_5/opdr1.php">opdracht 1</a></li>
                </ul>
            </li>
            <li>
                <a href="#">hoofdstuk 6</a>
                <ul class="dropdown">
                    <li><a href="/php7_assignments/hoofdstuk_6/opdr1.php">opdracht 1</a></li>
                    <li><a href="/php7_assignments/hoofdstuk_6/opdr2.php">Opdracht 2</a></li>
                    <li><a href="/php7_assignments/hoofdstuk_6/opdr3.php">Opdracht 3</a></li>
                    <li><a href="/php7_assignments/hoofdstuk_6/opdr4.php">Opdracht 4</a></li>
                </ul>
            </li>
            <li>
                <a href="#">hoofdstuk 7</a>
                <ul class="dropdown">
                    <li><a href="/php7_assignments/hoofdstuk_7/opdr1.php">opdracht 1</a></li>
                    <li><a href="/php7_assignments/hoofdstuk_7/opdr2.php">Opdracht 2</a></li>
                    <li><a href="/php7_assignments/hoofdstuk_7/opdr3.php">Opdracht 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">hoofdstuk 8</a>
                <ul class="dropdown">
                    <li><a href="/php7_assignments/hoofdstuk_8/opdr1.php">opdracht 1</a></li>
                    <li><a href="/php7_assignments/hoofdstuk_8/opdr2.php">Opdracht 2</a></li>
                    <li><a href="/php7_assignments/hoofdstuk_8/opdr3.php">Opdracht 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">hoofdstuk 9</a>
                <ul class="dropdown">
                    <li><a href="/php7_assignments/hoofdstuk_9/opdr1.php">opdracht 1</a></li>
                    <li><a href="/php7_assignments/hoofdstuk_9/opdr2.php">Opdracht 2</a></li>
                    <li><a href="/php7_assignments/hoofdstuk_9/opdr3.php">Opdracht 3</a></li>
                    <li><a href="/php7_assignments/hoofdstuk_9/opdr4.php">Opdracht 4</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>